.container {
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.dragger {
  border-radius: 30px !important;
}

.title {
  color: #224279;
  margin-left: 10px;
}

.description {
  color: #224279;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
}

.head {
  font-size: 24px;
}

.foot {
  padding-top: 20px;
  color: #9dafbd;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
