.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
}
.left {
  display: flex;
  flex-direction: column;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}
.right {
  padding-left: 60px;
}
.title {
  color: #224279;
  font-size: 26px;
}
.p {
  color: #9dafbd;
  max-width: 300px;
}
.containerButton {
  transition: transform 1000ms cubic-bezier(0.385, 0, 0.08, 1),
    opacity 1000ms cubic-bezier(0.385, 0, 0.08, 1), border-color 0.25s ease;
  transition-delay: 0.2s;
}
.image {
  width: 500px;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
}
@keyframes leftSlidein {
  0% {
    opacity: 0;
    transform: translate3d(-18%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes rightSlidein {
  0% {
    opacity: 0;
    transform: translate3d(18%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@media screen and (max-width: 950px) {
  .container {
    flex-direction: column-reverse;
  }
  .left {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .right {
    width: 100%;
    padding-left: 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p {
    max-width: 950px;
  }
}
@media screen and (max-width: 500px) {
  .image {
    width: 300px;
  }
}
