@import "~antd/dist/antd.css";
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  .ant-radio-wrapper {
    display: flex !important;
  }
}
